body{
	font-size:16px;
	font-family: 'Oxygen', sans-serif;
	background-color:#61122f;
	color:white;
}
#header-nav{
	border-radius: 0;
	background-color:#f6b319;
	border:0;
}
#logo-img{
	background:url(../images/restaurant-logo_large.png) no-repeat;
	width:150px;
	height:150px;
	margin:10px 15px 10px 0;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	font-size:1.6em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top:0;
	margin-bottom:0;
	line-height: 1em;
	text-shadow: 1px 1px 1px #222
}
.navbar-brand a:focus,.navbar-brand a:link{
	text-decoration: none;
	color:#557c3e;
}
.navbar-brand p{
	color:#000;
	font-size: 0.70em;
	text-transform: uppercase;
	margin-top:15px;
}
.navbar-brand span{
	
	vertical-align: middle;
}